roon-flow.json
[{"id":"d81e3258.d2f79","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"aa48e052.f69b1","type":"change","z":"d81e3258.d2f79","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"state\":true}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":40,"wires":[["f8b68904.ee8da8"]]},{"id":"70b420cd.c0fc8","type":"http in","z":"d81e3258.d2f79","name":"http-request","url":"/roon/discover","method":"get","upload":false,"swaggerDoc":"","x":130,"y":40,"wires":[["aa48e052.f69b1"]]},{"id":"98082675.65bca8","type":"http response","z":"d81e3258.d2f79","name":"","statusCode":"","headers":{},"x":850,"y":20,"wires":[]},{"id":"5a53fcde.3e7eb4","type":"json","z":"d81e3258.d2f79","name":"","property":"payload","action":"","pretty":false,"x":290,"y":80,"wires":[["f8b68904.ee8da8"]]},{"id":"1dbae4a7.3b37eb","type":"mqtt out","z":"d81e3258.d2f79","name":"","topic":"meta/roon/status","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8d10f29d.66b98","x":770,"y":120,"wires":[]},{"id":"84a7e428.e6bec8","type":"mqtt in","z":"d81e3258.d2f79","name":"","topic":"meta/roon/status","qos":"2","datatype":"auto","broker":"8d10f29d.66b98","nl":false,"rap":true,"rh":0,"x":560,"y":520,"wires":[["1460cf51.fe15b1"]]},{"id":"1460cf51.fe15b1","type":"debug","z":"d81e3258.d2f79","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":460,"wires":[]},{"id":"e7ef558f.38b388","type":"function","z":"d81e3258.d2f79","name":"","func":"if (msg.res) {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":20,"wires":[["98082675.65bca8"]]},{"id":"1a1dd83c.fe7da8","type":"mqtt out","z":"d81e3258.d2f79","name":"","topic":"meta/roon/state","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8d10f29d.66b98","x":760,"y":60,"wires":[]},{"id":"7b1bb703.ea0748","type":"mqtt in","z":"d81e3258.d2f79","name":"","topic":"meta/roon/state","qos":"2","datatype":"auto","broker":"8d10f29d.66b98","nl":false,"rap":true,"rh":0,"x":560,"y":460,"wires":[["1460cf51.fe15b1"]]},{"id":"f8b68904.ee8da8","type":"roon-core","z":"d81e3258.d2f79","name":"","x":500,"y":80,"wires":[["1a1dd83c.fe7da8","e7ef558f.38b388"],["1dbae4a7.3b37eb"],["1941ee53.32e462"],["1460cf51.fe15b1","db3b0357.7b109"],["6d3964b7.67472c"]]},{"id":"1941ee53.32e462","type":"http response","z":"d81e3258.d2f79","name":"","statusCode":"","headers":{"content-type":"image/png"},"x":730,"y":180,"wires":[]},{"id":"caf83e8a.ca3a2","type":"http in","z":"d81e3258.d2f79","name":"","url":"/roon/image","method":"get","upload":false,"swaggerDoc":"","x":260,"y":120,"wires":[["f8b68904.ee8da8"]]},{"id":"292ec398.eadcdc","type":"mqtt in","z":"d81e3258.d2f79","name":"","topic":"meta/roon","qos":"2","datatype":"auto","broker":"8d10f29d.66b98","nl":false,"rap":true,"rh":0,"x":120,"y":80,"wires":[["5a53fcde.3e7eb4"]]},{"id":"3c2c80c0.afd0e","type":"http in","z":"d81e3258.d2f79","name":"","url":"/roon/browse","method":"get","upload":false,"swaggerDoc":"","x":250,"y":180,"wires":[["f8b68904.ee8da8","57b7b88f.813f98"]]},{"id":"db3b0357.7b109","type":"http response","z":"d81e3258.d2f79","name":"","statusCode":"","headers":{},"x":730,"y":240,"wires":[]},{"id":"57b7b88f.813f98","type":"debug","z":"d81e3258.d2f79","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":300,"wires":[]},{"id":"6d3964b7.67472c","type":"mqtt out","z":"d81e3258.d2f79","name":"","topic":"meta/roon/queue","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8d10f29d.66b98","x":770,"y":280,"wires":[]},{"id":"6563d49a.b9188c","type":"mqtt in","z":"d81e3258.d2f79","name":"","topic":"meta/roon/queue","qos":"2","datatype":"auto","broker":"8d10f29d.66b98","nl":false,"rap":true,"rh":0,"x":560,"y":400,"wires":[["1460cf51.fe15b1"]]},{"id":"8d10f29d.66b98","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]